<link href="./productPage-component.css" />

<header-component (searchChange)="handleSearchFromHeader($event)"></header-component>

<app-breadcrumb [items]="[{ label: 'Sản phẩm' }]"></app-breadcrumb>

<div class="bodywrap">
  <div class="banner">
    <img alt="Banner top" class="lazyload loaded" src="//bizweb.dktcdn.net/100/490/431/themes/927074/assets/collection_banner.jpg?1758009149569"/>
  </div>

  <div class="container">
    
    <aside class="sidebar-filter">
      
      <div class="filter-actions">
        <button class="btn-filter-apply" (click)="applyFilters()">Lọc sản phẩm</button>
      
  </div>
  
  <div class="current-search" *ngIf="searchText">
    <p>Đang tìm: <strong>"{{ searchText }}"</strong></p>
    <span class="remove-search" (click)="clearSearch()">✕ Bỏ tìm kiếm</span>
  </div>

      <div class="filter-group">
        <h3>Mức giá</h3>
        <ul>
          <li><label><input type="checkbox" data-group="price" value="0-1000000" (change)="onFilterChange($event)"> Dưới 1 triệu</label></li>
          <li><label><input type="checkbox" data-group="price" value="1000000-2000000" (change)="onFilterChange($event)"> Từ 1 - 2 triệu</label></li>
          <li><label><input type="checkbox" data-group="price" value="2000000-3000000" (change)="onFilterChange($event)"> Từ 2 - 3 triệu</label></li>
          <li><label><input type="checkbox" data-group="price" value="3000000-max" (change)="onFilterChange($event)"> Trên 3 triệu</label></li>
        </ul>
      </div>

      <div class="filter-group">
        <h3>Danh mục</h3>
        <ul>
          <li><label><input type="checkbox" data-group="type" value="basketballShoes" (change)="onFilterChange($event)"> Giày Bóng Rổ</label></li>
          <li><label><input type="checkbox" data-group="type" value="footballShoes" (change)="onFilterChange($event)"> Giày Đá Bóng</label></li>
          <li><label><input type="checkbox" data-group="type" value="joggingShoes" (change)="onFilterChange($event)"> Giày Chạy Bộ</label></li>
          <li><label><input type="checkbox" data-group="type" value="tennis" (change)="onFilterChange($event)"> Giày Tennis</label></li>
          <li><label><input type="checkbox" data-group="type" value="sneakers" (change)="onFilterChange($event)"> Sneakers</label></li>
          <li><label><input type="checkbox" data-group="type" value="sandal" (change)="onFilterChange($event)"> Dép / Sandal</label></li>
          <li><label><input type="checkbox" data-group="type" value="accessorys" (change)="onFilterChange($event)"> Phụ kiện</label></li>
        </ul>
      </div>

      <div class="filter-group">
        <h3>Thương hiệu</h3>
        <ul>
          <li><label><input type="checkbox" data-group="brand" value="Nike" (change)="onFilterChange($event)"> Nike</label></li>
          <li><label><input type="checkbox" data-group="brand" value="Adidas" (change)="onFilterChange($event)"> Adidas</label></li>
          <li><label><input type="checkbox" data-group="brand" value="Puma" (change)="onFilterChange($event)"> Puma</label></li>
          <li><label><input type="checkbox" data-group="brand" value="Hoka" (change)="onFilterChange($event)"> Hoka</label></li>
          <li><label><input type="checkbox" data-group="brand" value="UnderArmour" (change)="onFilterChange($event)"> Under Armour</label></li>
          <li><label><input type="checkbox" data-group="brand" value="Asics" (change)="onFilterChange($event)"> Asics</label></li>
          <li><label><input type="checkbox" data-group="brand" value="Crocs" (change)="onFilterChange($event)"> Crocs</label></li>
          <li><label><input type="checkbox" data-group="brand" value="Teva" (change)="onFilterChange($event)"> Teva</label></li>
          <li><label><input type="checkbox" data-group="brand" value="Columbia" (change)="onFilterChange($event)"> Columbia</label></li>
        </ul>
      </div>

      
    </aside>

    <div class="main-content">
      
      <div class="sort-cate-right">
        <div class="sort-trigger" (click)="toggleSortMenu()">
          <div class="title-content">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/><path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/></svg>
            Sắp xếp theo: <span class="current-label">{{ currentLabel }}</span>
          </div>
          <svg class="arrow-icon" [class.rotate]="isSortOpen" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 16 16" fill="currentColor"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>
        </div>
        
        <ul class="sort-list" [class.open]="isSortOpen">
          <li><a (click)="onSortChange('default', 'Mặc định', $event)">Mặc định</a></li>
          <li><a (click)="onSortChange('price-asc', 'Giá tăng dần', $event)">Giá tăng dần</a></li>
          <li><a (click)="onSortChange('price-desc', 'Giá giảm dần', $event)">Giá giảm dần</a></li>
        </ul>
      </div>

      <app-product-list 
        [filters]="filters"
        [sortOption]="currentSort"
        [searchText]="searchText">
      </app-product-list>
      
    </div>
  </div>
</div>