<link href="./category-component.css" />
<section class="cat-view">
  <div class="container">
    <div class="cat-head">
      <h2 class="tab-h2"></h2>
      <!-- nút điều hướng -->
      <div class="show-all">
        <div class="btn-showAll">
          <p class="txt-showAll">Xem tất cả</p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="19"
            height="19"
            class="icon-arrow"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
            ></path>
          </svg>
        </div>
      </div>
    </div>
    <div class="cat-swipe">
      <div class="swipe-tab">
        <div class="swiper mySwiper">
          <div class="swipe-wrapper">
            <div class="swiper-slide">
              <a href="#" class="cate-item">
                <div class="bg-thumb">
                  <!-- hình ảnh -->
                  <img
                    data-src="https://supersports.com.vn/cdn/shop/files/3MF10040106-1.jpg?v=1752833423&width=1000"
                    alt="Đi bộ"
                    width="200"
                    height="200"
                    class="lazyload loaded"
                    src="https://supersports.com.vn/cdn/shop/files/3MF10040106-1.jpg?v=1752833423&width=1000"
                    data-was-processed="true"
                  />
                </div>
                <div class="cate-content">
                  <h3>Chạy Bộ</h3>
                  <div class="status">
                    <span class="total-product">9 sản phẩm</span>
                    <span class="view-more">Xem chi tiết</span>
                  </div>
                </div>
              </a>
            </div>

            <div class="swiper-slide">
              <a href="#" class="cate-item">
                <div class="bg-thumb">
                  <!-- hình ảnh -->
                  <img
                    data-src="https://supersports.com.vn/cdn/shop/files/DV4337-402-2.jpg?v=1757327173&width=1000"
                    alt="Bóng Đá &amp; Futsal"
                    width="200"
                    height="200"
                    class="lazyload loaded"
                    src="https://supersports.com.vn/cdn/shop/files/DV4337-402-2.jpg?v=1757327173&width=1000"
                    data-was-processed="true"
                  />
                </div>
                <div class="cate-content">
                  <h3 class="cate-product">Bóng Đá</h3>
                  <div class="status">
                    <span class="total-product">9 sản phẩm</span>
                    <span class="view-more">Xem chi tiết</span>
                  </div>
                </div>
              </a>
            </div>

            <div class="swiper-slide">
              <a href="#" class="cate-item">
                <div class="bg-thumb">
                  <!-- hình ảnh -->
                  <img
                    data-src="https://supersports.com.vn/cdn/shop/files/FQ3681-501-1.jpg?v=1740566699&width=1000"
                    alt="Bóng rổ"
                    width="200"
                    height="200"
                    class="lazyload loaded"
                    src="https://supersports.com.vn/cdn/shop/files/FQ3681-501-1.jpg?v=1740566699&width=1000"
                    data-was-processed="true"
                  />
                </div>
                <div class="cate-content">
                  <h3 class="cate-product">Bóng Rổ</h3>
                  <div class="status">
                    <span class="total-product">9 sản phẩm</span>
                    <span class="view-more">Xem chi tiết</span>
                  </div>
                </div>
              </a>
            </div>

            <div class="swiper-slide">
              <a href="#" class="cate-item">
                <div class="bg-thumb">
                  <!-- hình ảnh -->
                  <img
                    data-src="https://supersports.com.vn/cdn/shop/files/IF7888-1.jpg?v=1750667524&width=1000"
                    alt="Bóng Đá &amp; Futsal"
                    width="200"
                    height="200"
                    class="lazyload loaded"
                    src="https://supersports.com.vn/cdn/shop/files/IF7888-1.jpg?v=1750667524&width=1000"
                    data-was-processed="true"
                  />
                </div>
                <div class="cate-content">
                  <h3 class="cate-product">Tennis</h3>
                  <div class="status">
                    <span class="total-product">9 sản phẩm</span>
                    <span class="view-more">Xem chi tiết</span>
                  </div>
                </div>
              </a>
            </div>

            <div class="swiper-slide">
              <a href="#" class="cate-item">
                <div class="bg-thumb">
                  <!-- hình ảnh -->
                  <img
                    data-src="https://supersports.com.vn/cdn/shop/files/DM7590-100-1.jpg?v=1720780730&width=1000"
                    alt="Bóng Đá &amp; Futsal"
                    width="150"
                    height="150"
                    class="lazyload loaded"
                    src="https://supersports.com.vn/cdn/shop/files/DM7590-100-1.jpg?v=1720780730&width=1000"
                    data-was-processed="true"
                  />
                </div>
                <div class="cate-content">
                  <h3 class="cate-product">Sneakers</h3>
                  <div class="status">
                    <span class="total-product">9 sản phẩm</span>
                    <span class="view-more">Xem chi tiết</span>
                  </div>
                </div>
              </a>
            </div>

            <div class="swiper-slide">
              <a href="#" class="cate-item">
                <div class="bg-thumb">
                  <!-- hình ảnh -->
                  <img
                    data-src="https://supersports.com.vn/cdn/shop/files/1SM01934G-920-1.jpg?v=1714020565&width=1000"
                    alt="Bóng Đá &amp; Futsal"
                    width="200"
                    height="200"
                    class="lazyload loaded"
                    src="https://supersports.com.vn/cdn/shop/files/1SM01934G-920-1.jpg?v=1714020565&width=1000"
                    data-was-processed="true"
                  />
                </div>
                <div class="cate-content">
                  <h3 class="cate-product">Xăng Đan & Dép</h3>
                  <div class="status">
                    <span class="total-product">9 sản phẩm</span>
                    <span class="view-more">Xem chi tiết</span>
                  </div>
                </div>
              </a>
            </div>

            <div class="swiper-slide">
              <a href="#" class="cate-item">
                <div class="bg-thumb">
                  <!-- hình ảnh -->
                  <img
                    data-src="https://supersports.com.vn/cdn/shop/files/1164350-ARF-1.jpg?v=1736914649"
                    alt="Bóng Đá &amp; Futsal"
                    width="150"
                    height="150"
                    class="lazyload loaded"
                    src="https://supersports.com.vn/cdn/shop/files/1164350-ARF-1.jpg?v=1736914649"
                    data-was-processed="true"
                  />
                </div>
                <div class="cate-content">
                  <h3 class="cate-product">Phụ Kiện</h3>
                  <div class="status">
                    <span class="total-product">9 sản phẩm</span>
                    <span class="view-more">Xem chi tiết</span>
                  </div>
                </div>
              </a>
            </div>

            <div class="swiper-slide">
              <a href="#" class="cate-item">
                <div class="bg-thumb">
                  <!-- hình ảnh -->
                  <img
                    data-src="https://supersports.com.vn/cdn/shop/files/2094021023-1.jpg?v=1724035740&width=1000"
                    alt="Bóng Đá &amp; Futsal"
                    width="150"
                    height="150"
                    class="lazyload loaded"
                    src="https://supersports.com.vn/cdn/shop/files/2094021023-1.jpg?v=1724035740&width=1000"
                    data-was-processed="true"
                  />
                </div>
                <div class="cate-content">
                  <h3 class="cate-product">Chăm Sóc Giày</h3>
                  <div class="status">
                    <span class="total-product">9 sản phẩm</span>
                    <span class="view-more">Xem chi tiết</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
