<div class="header">
  <div class="top-bar">
    <div class="top-bar-container">
      <div class="header-promotion">
        <div class="ul-promotion">
          <ul class="promotion-list">
            <li class="promotion-item">
              <a href="#">Free Shipping on Orders Over $50</a>
            </li>
            <li class="promotion-item">
              <a href="#">Khuyễn mãi 11/11 Single Day 2025 KHÔNG THỂ BỎ LỠ!!!</a>
            </li>
            <li class="promotion-item">
              <a href="#">[05.09 - 11.10] Càng mua càng giảm, mua 2 giảm 6%, mua 3 giảm 10%</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="main-header">
    <div class="container">
      <div class="box-header">
        <div class="row align-items-center">
          <div class="header-logo">
            <div class="menu-icon" aria-label="Menu" title="Menu">
                <div class="icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <span class="title">Menu</span>
            </div>
          </div>
          <div class="header-mid"></div>
          <div class="header-right"></div>
        </div>
      </div>
    </div>
  </div>
</div>
