header .topbar{
    font-weight: 600;
    font-size: 1.6rem;
    position: relative;
    display: block;
    overflow: hidden;
    background-color: #a2ff00;
    color: #333;
    transition: all 400ms ease;
}