<BannerComponent></BannerComponent>
<app-notification-floating></app-notification-floating>
<FloatingMenuComponent></FloatingMenuComponent>

<main class="main">
  <div class="content">
    <!-- <h1>Nội dung chính</h1> -->
    <category-component></category-component>
    <app-flash-sale-section
      (onOptionSelect)="handleProductOptionSelected($event)">
    </app-flash-sale-section>
    <app-brand-slider></app-brand-slider>
  </div>
</main>

<!-- User -->
<ChatComponent *ngIf="!isAdmin && userId" [userId]="userId"></ChatComponent>

<!-- Admin -->
<AdminChatComponent *ngIf="isAdmin && userId" [adminId]="userId"></AdminChatComponent>

<app-request-seller [role]="role"></app-request-seller>

<app-admin-dashboard *ngIf="isAdmin"></app-admin-dashboard>

<!-- Modal for product options -->
@if (isModalOpen && selectedProductForModal) {
    <app-product-options-modal 
        [product]="selectedProductForModal"
        (closeModal)="closeModal()">
    </app-product-options-modal>
}

