<header-component></header-component>
<BannerComponent></BannerComponent>
<app-notification-floating></app-notification-floating>
<FloatingMenuComponent></FloatingMenuComponent>
<main class="main">
  <div class="content">
    <!-- <h1>Nội dung chính</h1> -->


    
    <category-component></category-component>
  </div>
</main>

<!-- User -->
<ChatComponent *ngIf="!isAdmin && userId" [userId]="userId"></ChatComponent>

<!-- Admin -->
<AdminChatComponent *ngIf="isAdmin && userId" [adminId]="userId"></AdminChatComponent>

<app-request-seller [role]="role"></app-request-seller>

<app-admin-dashboard *ngIf="isAdmin"></app-admin-dashboard>
